<%if session[:error] %>
    <div class="alert alert-danger"><%= session[:error] %></div>
    <% session[:error] = nil %>
<% end %>

<%if session[:greeting] %>
    <div class="alert alert-info"><%= session[:greeting] %></div>
    <% session[:greeting] = nil %>
<% end %>