
<div class="row">
  <div class="col-sm-12">
    <h2>Game Over</h2>
    <h4>You've exhausted your cash, please choose "New Game" if you would like to play again.</h4>
    <br><br>

    <p class="pull-right">
    <b>Thanks for Playing!</b>
    <br><br>
    <a href="/new_game" class="btn btn-success pull-right">New Game</a>
    </p>
  </div>
</div>