
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-body" id="dealer_cards">
        <!-- Dealer Card Area - Filled by Ajax -->
      </div>
      <div class="panel-footer" id="dealer_total">
        <!-- Dealer Total - Filled by Ajax -->
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-body" id="player_cards">
        <!-- Player Card Area - Filled by Ajax -->
      </div>
      <div class="panel-footer">
        <%= session[:player_name] %>&nbsp;&nbsp;
        <div class="pull-right" id="player_total">
          <!-- Player Total - Filled by Ajax -->
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-sm-6 col-sm-offset-2">
    <div class="span6" id="result_message">
      <!-- Ajax -->
    </div>
  </div>
  <div class="col-sm-4">
    <p class="pull-right" id="action_buttons">
      <!-- Filled by Ajax -->
    </p>
  </div>
</div>