
<div class="row">
  <div class="col-sm-12">
    <h2>Congratulations!</h2>
    <h4>You've managed to walk away with <b style="text-shadow: 0px 0px 5px #81b33a;">$<%= session[:player_cash] %></b> in winnings!</h4>
    <br><br>

    <p class="pull-right">
      <b>Thanks for Playing!</b>
      <br><br>
      <a href="/new_game" class="btn btn-success pull-right">New Game</a>
    </p>
  </div>
</div>